<div id="details-sheet" class="sheet-modal">
  <div class="sheet-modal-inner">
    <div class="block">
      <div class="sheet-modal-title" id="detailHomeworkName">
      </div>
      <div class="list no-hairlines">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title">
                <div class="item-header">Subject</div>
                <span id="detailSubject"></span>
              </div>
            </div>
          </li>
          <li class="item-content">
              <div class="item-inner">
                <div class="item-title">
                  <div class="item-header">Due</div>
                  <span id="detailDue"></span>
                </div>
              </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div class="item-header">Graded</div>
                    <span id="detailGraded"></span>
                  </div>
                </div>
              </li>
              <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header">Last edited</div>
                      <span id="detailLastEdit"></span>
                    </div>
                  </div>
                </li>
        </ul>
    </div>
    </div>
  </div>
</div>