<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if(!beta) { %>
        <title>HwBoard</title>
        <meta name="description" content="Homework board">
        <link rel="manifest" href="/manifest.json">
        <meta name="apple-mobile-web-app-title" content="HwBoard">
    <%}else{ %>
        <title>HwBoard beta</title>
        <meta name="description" content="Homework board beta">
        <link rel="manifest" href="/manifest.beta.json">
        <meta name="apple-mobile-web-app-title" content="HwBoard beta">
    <%}%>
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/images/icons/favicon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/images/icons/favicon.png">
    <meta name="msapplication-TileColor" content="#4285F4">
    <!-- Place favicon.png in the images directory -->
    <link rel="shortcut icon" href="/images/icons/favicon.png" type="image/png">
    <link rel="icon" href="/images/icons/favicon.png" type="image/png">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#4285F4">
</head>
