node_modules
.vscode
*config.json
!docker.config.json
artifacts
*~
\#*
.idea
.map
**/data.json
backup.json
**/backup.json
*.json
!package.json
!package-lock.json
!.eslintrc.json
!manifest.json
process-data.js