# This file is a template, and might need editing before it works on your project.
# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:11-alpine

# Pick zero or more services to be used on all builds.
# Only needed when using a docker container to run your tests in.
# Check out: http://docs.gitlab.com/ce/ci/docker/using_docker_images.html#what-is-a-service
services:
  - name: jro11/cockroachdb-alpine-docker:stable
    alias: cockroachdb
variables:
  COCKROACH_DB: hwboard
  COCKROACH_USER: hwboard
# This folder is cached between builds
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache
cache:
  paths:
  - node_modules/


test:
  variables:
    CI: "true"
    HWBOARD_COOKIE_SECRET: "totallyVerySecureSecretWhatCouldPossiblyGoWrong"
    USE_POSTGRES: "false"
    DB_PORT: "26257"
  stage: test
  script:
  - pwd  
  - npm -v
  - node --version
  - npm ci
  - mv data.json.test data.json
  - mkdir artifacts
  - npm test
  artifacts:
    paths: 
    - artifacts
    expire_in: 1 week
    when: always
lint:
  stage: test
  script:
  - npm -v
  - node --version
  - npm ci
  - npm run lint
# deploy_beta:
#   stage: deploy
#   script:
#   - apk add curl
#   - curl --header "X-Gitlab-Token:$GITLAB_TOKEN" https://beta.nushhwboard.tk/cd/update/?commitSHA=$CI_COMMIT_SHA
#   environment:
#     name: hwboard-beta
#     url: https://beta.nushhwboard.tk
#   only:
#     - dev
auto_update:
  stage: deploy
  script:
  - apk add curl
  # - curl --header "X-Gitlab-Token:$GITLAB_TOKEN" https://node1.vorld.nushhwboard.tk/cd/update/?commitSHA=$CI_COMMIT_SHA
  - curl --header "X-Gitlab-Token:$GITLAB_TOKEN" https://node1.orange.nushhwboard.tk/cd/update/?commitSHA=$CI_COMMIT_SHA
  environment:
    name: hwboard
    url: https://nushhwboard.tk
  only:
    - master
