<div class="page page-current">
<div class="navbar">
  <div class="navbar-inner">
  <div class="left">
    <a href="/channels" class="link">
      <i class="icon icon-back"></i>
    </a>
    </div>
        <div class="title">Statistics</div>
      </div>
    </div>
    <div class="page-content block">
      <div class="list no-hairlines">
        <ul>
            <li class="list-item">
              <div class="item-inner">
                  <div class="item-title">Homework by subject</div>
              </div>
              <div class="item-content">
              <div class="list no-hairlines">
                <ul>
                  <li>
                    <label class="item-checkbox item-content">
                      <input type="checkbox" name="homework-type" value="tests" checked/>
                      <i class="icon icon-checkbox"></i>
                      <div class="item-inner">
                        <div class="item-title">Tests/graded homework</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="item-checkbox item-content">
                      <input type="checkbox" name="homework-type" value="regular" checked/>
                      <i class="icon icon-checkbox"></i>
                      <div class="item-inner">
                        <div class="item-title">Regular homework</div>
                      </div>
                    </label>
                  </li>
                <div class="chart-container" style="position: relative;">
                  <canvas id="homework-subject-chart" height=350px width=350px></canvas>
                </div>
              </div>
            </li>
            <li class="list-item">
              <div class="item-inner">
                  <div class="item-title">Homework by date</div>
              </div>
              <div class="item-content">
                <div class="chart-container" style="position: relative;">
                  <canvas id="homework-date-chart" height=350px width=350px></canvas>
                  <br>
                  <br>
                </div>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
