<body>
<script src="https://secure.aadcdn.microsoftonline-p.com/lib/0.1.3/js/msal.min.js"></script>
<script>
const graphAPIScopes = ["https://graph.microsoft.com/user.read"]
const msalconfig = {
  clientID: "<%= clientID %>",
  redirectUri: "https://<%- hostname %>"
};
function loginCallback(errorDesc, token, error, tokenType) {
 if(tokenType=="id_token"){
  document.cookie = "token="+token
  location.reload()
  }else{
    if (errorDesc) {
      console.error(msal.authority, error, errorDesc)
  } else {
      initLogin();
  }
  }
}
const userAgentApplication = new Msal.UserAgentApplication(msalconfig.clientID, null, loginCallback, {
    redirectUri: msalconfig.redirectUri
});
function initLogin(){
  const user = userAgentApplication.getUser()
  if(!user){
    userAgentApplication.loginRedirect(graphAPIScopes);
  }
}
function signOut() {
    userAgentApplication.logout()
}
window.onload = function(){
  initLogin()
}
</script>
</body>