<!DOCTYPE html> 
<html lang="en">
<%- include("partials/head") %>
<link href="/styles/roboto.css" rel="stylesheet"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<body style="margin-left:0px;margin-right:0px"> 
  <style>
    .md #app .list ul .list ul li {
      padding-left: 0px;
    }
    .md #app .list ul .list ul{
      padding-left: 0px;
    }
  </style>
  <div id="app">
    <div class="view view-main">
    <link href="/styles/roboto.css" rel="stylesheet">
    <link rel="stylesheet" href = "/styles/icons.css">
      <div class="page page-current">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="title">Channels</div>
          </div>
          </div>
          <div class="toolbar tabbar toolbar-bottom-md">
          <div class="toolbar-inner">
            <a href="/" class="tab-link">
              <i class="icon demo-icon-1"></i>
              <span class="tabbar-label">Homework</span>
            </a>
            <a href="/channels" class="tab-link tab-link-active">
              <i class="icon demo-icon-2"></i>
              <span class="tabbar-label">Channels</span>
            </a>
          </div>
          </div>
          <div class="page-content block">
            <div class="list no-hairlines">
              <ul>
                <%- renderer(channels)%>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
  <script src="/framework7/js/framework7.min.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/socket.io.js"></script>
  <script src="/scripts/raven.min.js" crossorigin="anonymous"></script>
  <script>
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
</script>
  <script>
    //DoNt toUcHa my eRRor rePoTer
  //   Raven.config('https://6c425ba741364b1abb9832da6dde3908@sentry.io/1199491').install()
  //   Raven.setUserContext({
  //     name: getCookie("name"),
  //     email: getCookie("email"),
  //   })
  // </script>
<script>
  const conn = io(location.origin,{secure: true})
  conn.on("connect_error",function(err){
    Raven.captureException(err)
  })

  conn.on("connect",function(){
    console.log("Conne")
  })

  //Db inited, can get data
  conn.on("ready",()=>{
    console.log("ready")
  })
</script>
<script>
  const mainView = Framework7App.views.create('.view-main')
</script>
<link rel="stylesheet" href="/framework7/css/framework7.min.css"> 
</body>
</html>
