<div class="page page-current">
<div class="navbar">
  <div class="navbar-inner">
  <div class="left">
    <a href="/channels" class="link">
      <i class="icon icon-back"></i>
    </a>
    </div>
        <div class="title">Settings</div>
      </div>
    </div>
    <div class="page-content block">
    <div class="list accordion-list no-hairlines">
        <ul>
            <li class="accordion-item">
                <a href="" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title">Subjects</div>
                    </div>
                </a>
                <div class="accordion-item-content">
                  <div class="list no-hairlines">
                  <ul id="subject-list">
                    <li>Loading...</li>
                  </ul>
                </div>
                <% if (root){ %>
                <div class="row md">
                    <a href="/channels/<%=channel.name%>/settings/popups/add-subject/" class="button col">Add subject</a>
                </div>
                <% } %>
              </div>
            </li>
            <li class="accordion-item">
                <a href="" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title">Members</div>
                    </div>
                </a>
                <div class="accordion-item-content">
                <div class="list no-hairlines">
                    <ul id="member-list">
                      <li>Loading...</li>
                    </ul>
                  </div>
                  <% if (root){ %>
                  <div class="row md">
                    <a href="/channels/<%=channel.name%>/settings/popups/add-member/" class="button col">Add member</a>
                  </div>
                  <% } %>
              </div>
            </li>
        </ul>
    </div>
  </div>
  </div>
