<div class="page page-current">
<div class="navbar">
  <div class="navbar-inner">
        <div class="title">Channels</div>
      </div>
    </div>
    <div class="toolbar tabbar toolbar-bottom-md">
    <div class="toolbar-inner">
      <a href="/" class="tab-link">
        <i class="icon demo-icon-1"></i>
        <span class="tabbar-label">Homework</span>
      </a>
      <a href="/channels" class="tab-link tab-link-active">
        <i class="icon demo-icon-2"></i>
        <span class="tabbar-label">Channels</span>
      </a>
      </div>
      </div>
      <div class="page-content block">
      Channels allow you to control access to homework.<br>
      It also allows you to add members who are outside your class or level.<br>
      You can create a channel <a class="external" href="/addChannel">here</a>.
      <div class="list no-hairlines">
        <ul>
          <%- renderer(channels)%>
        </ul>
      </div>
    </div>
  </div>
  <script src="/scripts/routes/channels.js"></script>