<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <div class="mdc-toolbar">
        <div class="mdc-toolbar__row">
            <div class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-start">
                <h1 class="mdc-toolbar__title">Class Homework Board</h1>
            </div>
            <div class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <div>
                    <nav class="mdc-tab-bar custom-tab-bar-in-toolbar">
                        <a class="mdc-tab mdc-tab--active" href="#one">
                            Item One
                            <span class="mdc-tab__indicator"></span>
                        </a>
                        <a class="mdc-tab" href="#two">
                            Item Two
                            <span class="mdc-tab__indicator"></span></a>
                        <a class="mdc-tab" href="#three">
                            Item Three
                            <span class="mdc-tab__indicator"></span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <ul class="mdc-list mdc-list--two-line" style="background-color:#aee0e475">
      <%- include("templates/homework",{data,Sugar,sortType,sortOrder}) -%>
     </ul>
     <link href="/styles/roboto.css" rel="stylesheet">
     <link rel="stylesheet" href = "/styles/icons.css">
     <script src="/scripts/socket.io.js"></script>
     <!--DoNt toUcHa my eRRor rePoTer-->
     <script src="https://cdn.ravenjs.com/3.24.1/raven.min.js" crossorigin="anonymous"></script>
    <script>
    //run the following line if in dev enviroment
    //document.cookie="dev=true"
    if(!document.cookie.includes("dev=true")){
      //DoNt toUcHa my eRRor rePoTer
      Raven.config('https://6c425ba741364b1abb9832da6dde3908@sentry.io/1199491').install()
    }
    const conn = io(document.domain,{transports: ['websocket'], upgrade: false, secure: true});
    //Handle websocket connection errors
    //Standard code for all my websocket apps
    conn.on("connect_error",function(e){
      if(navigator.onLine==undefined){
        //Some browsers may not support navigator.onLine
        //EDIT: appears that most browsers support but meh
        //https://caniuse.com/#feat=online-status
        console.log(`Error checking connection state`)
        return
      }
      if(navigator.onLine){
        //Its a server problem, perhaps websocket server not started
        console.log(`Error connecting to server`)
        Raven.captureException(e)
      }else{
        console.log(`Offline`)
        //Load data from cache since user is offline
      }
    })

    conn.on("connect",function(){
      console.log("Connected to server!")
    })
    //request homework data from server
    //syntax conn.emit(<eventName>,[<data>],[<callback>])
    conn.emit("dataReq",null,function(err,data){
      //Always check if error occurred
      if(err) throw err;
      //Yey data from server
      console.log(data)
    })
    //Add homework to database
    const newHomework = {
        //Add other stuffs also
        "text":"hello"
    }
    conn.emit("addReq",newHomework,function(err){
      //Always check if error occurred
      if(err) throw err;
      //Tell user that homework successfully added
      //Eg snackbar
      console.log("Homework add success")
    })
    </script>
    <link rel="stylesheet" href = "/styles/material-components-web.min.css">
</body>
</html>
