<!DOCTYPE html>
<html lang="en" class="md">
<%- include("./partials/head",{beta}) %>
<body>
  <script src="/scripts/checkVersion.js"></script>
  <div id="app" style="display:none">
  <!-- menu -->
    <div class="panel panel-left">
    <div class="list links-list">
      <ul>
        <li>
          <a href="/" class="panel-close">
            Homework
          </a>
        </li>
        <li>
        <a href="/channels/" class="panel-close">
          Channels
        </a>
      </li>
      <!--
      <li>
      <a href="/timetable/" class="panel-close">
        Timetable
      </a>
    </li>-->
      <li>
        <a href="/calendar/" class="panel-close">
          Calendar
        </a>
      </li>
      <li>
      <a href="/analytics/" class="panel-close">
        Statistics
      </a>
      </li>
      </ul>
    </div>
    </div>

    <div class="view view-main">
    <link href="/styles/roboto.css" rel="stylesheet">
    <link rel="stylesheet" href = "/styles/icons.css">
    <link rel="stylesheet" href = "/styles/bars.css">

    <div class="page page-current">
      <div class="navbar">
        <div class="navbar-inner">
        <!-- bar icon and link -->
        <a href="#" class="left panel-open" style="padding-left:10px"><i class="bar" style="color:#ffffff">&#xe900;</i></a>
        <div class="item-content title">
          <div class="item-inner item-title">
            <div>Homework Board</div>
            <div class="item-footer" id="connection-status" style="font-size:16px">Connected</div>
          </div>
        </div>
          <a class="right" href="/popups/sort/"><i class="material-icons" style="color:#ffffff">&#xE164;</i></a>
        </div>
      </div>
        <div class="page-content block" style="padding-top:0px" role="main">
          <div class="list" id="hwboard-homework-list" style="position:relative;top:60px">
            <%- renderer(data,sortType,sortOrder,adminChannels) %>
          </div>
        </div>
        <!-- Floating App button
        Clicking will cause the edit homework popup to appear
        Only show for admins
        -->
      <% if (admin){ %>
      <div class="fab fab-right-bottom admin-only color-green-blue" aria-label="Add homework">
        <a id="fab-add-homework" href="/popups/add/">
        <i class="f7-icons icon material-icons">&#xe145;</i>
        </a>
      </div>
      <!-- No markdown yet
      <script src="/scripts/turndown.js"></script>-->
      <% } %>
      </div>
      </div>
    </div>
    <link rel="stylesheet" href="/framework7/css/framework7.md.min.css">
    <!-- unhide rendered page -->
    <script>
      document.getElementById("app").style.display = "block"
    </script>
    <!-- critical styles and scripts cannot be deferred-->
    
    <!-- required for load of homework from cache-->
    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/sugar-date/dist/sugar-date.min.js"></script>
    <script src="/scripts/renderer.js"></script>
    <script src="/promise-worker/dist/promise-worker.js"></script>
    <script src="/scripts/getCookie.js"></script>
    <script src="/scripts/fastLoadHomework.js"></script>
    <script src="/scripts/core.js"></script>
    <script src="/scripts/dates.js"></script>
    <script src="/scripts/loadHomework.js"></script>
    
    <!-- Get updated homework from server asap -->
    <script src="/socket.io-client/dist/socket.io.slim.js"></script>
    <script src="/scripts/websocketConnect.js"></script>
    <script src="/scripts/wsLoadHomework.js"></script>
    
    <% if(reportErrors){ %>
      <!--DoNt toUcHa my eRRor rePoTer-->
      <script src="/scripts/raven.min.js"></script>
      <script src="/scripts/errorReporter.js"></script>
    <% } %>

    <!-- framework7 scripts can be deferred -->
    <script defer src="/framework7/js/framework7.min.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/framework7Load.js"></script>

    <!-- non critical styles and scripts can be deferred-->
    <script defer src="/scripts/eventHandlers.js"></script>
    <script defer src="/fuse.js/dist/fuse.min.js"></script>
    <script defer src="/scripts/generalForms.js"></script>
    <script defer src="/scripts/loadSW.js"></script>
    <% if (admin){ %>
      <!-- non admins wont need these -->
      <script defer src="/scripts/adminForms.js"></script>
      <script defer src="/scripts/edit-homework-eventHandlers.js"></script>
    <% } %>

    <!-- Styles are not so critical -->
    <link rel="stylesheet" href="/styles/index.css">
    <%- include("./partials/dialogs.ejs") %>

    <!-- styles and scripts for later pages -->

    <!-- channel stats -->
    <script defer src="/chart.js/dist/Chart.bundle.min.js"></script>
    <script defer src="/routes/scripts/channel-stats.js"></script>
    <link href="/routes/styles/channel-stats.css" rel="stylesheet">

    <!-- channel settings -->
    <script defer src="/routes/scripts/render-admins.js"></script>
    <script defer src="/routes/scripts/render-subjects.js"></script>
    <script defer src="/routes/scripts/channel-settings.js"></script>
    <link href="/routes/styles/channel-settings.css" rel="stylesheet">

    <!-- timetable
    <script defer src="/routes/scripts/render-timetable.js"></script>
    -->

    <!-- latency checking -->
    <script defer src="/scripts/latencyCheck.js"></script>
</body>
</html>
