<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <div>
      <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall">
      <div id="normalToolbar">
      <div class="mdc-toolbar__row">
      <span>
      <button class="mdc-button" onclick="dialog.show();setTimeout(function(){setDefaultcheckbox = new MDCCheckbox(document.querySelector('#setDefaultCheckBox'));},500)"> <i class="material-icons" style="color:white">&#xE164;</i></button>
      </span>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <div class="mdc-toolbar__title">
      <span onclick="location.href='/'">207 Homework Board</span><br>
      <div class="mdc-list-item__secondary-text" style="color:#fff" id="networkStatus">
      </div>
      </div>
      </section>
      </div>
      </div>
      <div id="editMenu" style="display:none">
      <div class="mdc-toolbar__row">
      <% if(admin) { %>
      <span>
      <button style="float:right" class="admin-only mdc-button" onclick="startEdit()"><i  style="color:white" class="material-icons">&#xE254;</i></button>
      </span>
      <span>
      <button style="float:right" class="admin-only mdc-button" onclick="deleteDialog.show()"><i  style="color:white" class="material-icons">&#xE872;</i></button>
      </span>
      <% } %>

      <span>
      <button class="mdc-button" onclick="loadDetails()"> <i style="color:white" class="material-icons">&#xE88F;</i></button>
      </span>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      </section>
      </div>
      </div>
      </header>
    </div>
    <link href="/styles/roboto.css" rel="stylesheet">
    <!--<link href="/styles/new.css" rel="stylesheet">-->
    <link rel="stylesheet" href = "/styles/icons.css">
    <ul class="mdc-list mdc-list--two-line" style="background-color:#aee0e475;position:relative;top:50px">
      <%- renderer(data,sortType,sortOrder) -%>
     </ul>
     <script src="/scripts/jquery.min.js"></script>
     <script src="/scripts/renderer.js"></script>
     <script src="/scripts/promise-worker.js"></script>
     <script src="/scripts/sugar-date.min.js"></script>
     <script>
     //Web worker for indexedDB
     const oldWorker = new Worker("/scripts/worker.js")
     //Use promise based messaging
     const worker = new PromiseWorker(oldWorker)
     </script>

     <script src="/scripts/socket.io.js"></script>
     <!--DoNt toUcHa my eRRor rePoTer-->
     <script src="https://cdn.ravenjs.com/3.24.1/raven.min.js" crossorigin="anonymous"></script>
    <script>
    //run the following line if in dev enviroment
    //document.cookie="dev=true"
    if(!(document.cookie.includes("dev=true")||navigator.userAgent == "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36")){
      //DoNt toUcHa my eRRor rePoTer
      console.log("ok")
      Raven.config('https://6c425ba741364b1abb9832da6dde3908@sentry.io/1199491').install()
    }
    const conn = io(location.origin,{transports: ['websocket'], upgrade: false, secure: true});
    //Handle websocket connection errors
    //Standard code for all my websocket apps
    conn.on("connect_error",function(e){
      console.log(Object.entries(e))
      if(navigator.onLine==undefined){
        //Some browsers may not support navigator.onLine
        //EDIT: appears that most browsers support but meh
        //https://caniuse.com/#feat=online-status
        Raven.captureException(new Error("error checking connection status"))
        console.log(`Error checking connection state`)
        return
      }
      if(navigator.onLine){
        //Its a server problem, perhaps websocket server not started
        console.log(`Error connecting to server`)
        Raven.captureException(e)
      }else{
        console.log(`Offline`)
        //Load data from cache since user is offline
      }
    })

    conn.on("connect",function(){
      console.log("Connected to server!")
    })
    //request homework data from server
    //syntax conn.emit(<eventName>,[<data>],[<callback>])
    const channel = location.pathname.substring(1)
    let channelSettings
    if(channel==""){
      channelSettings = {}
    }else{
      channelSettings = {
        channel,
        removeExpired:true
      }
    }
    conn.emit("dataReq",channelSettings,function(err,data){
      //Always check if error occurred
      if(err) throw err;
      //Put data into client-side database for caching
      worker.postMessage({
        type:"set",
        data
      })
      //Add to localstorage as a fallback
      localStorage.setItem("data",JSON.stringify(data))
    })

    //Server pushes data, re-render
    conn.on("data",(data)=>{
      //Main page
      const main = location.pathname.substring(1) == ""
      //Experiments
      const experiments = location.pathname.includes("experiments")
      //Show all channels if no channel specified
      if(!(main || experiments)){
        data = data.filter(homework=>{
          return location.pathname.substring(1) == "" || homework.channel == location.pathname.substring(1)
        })
      }
      reRender(data)
      //Add data into client-side db
      worker.postMessage({
        type:"set",
        data
      })
      //Add to localstorage as a fallback
      localStorage.setItem("data",JSON.stringify(data))
    })
    </script>
    <link rel="stylesheet" href = "/styles/material-components-web.min.css">
  <% if (admin){ %>
    <button class="app-fab--absolute mdc-fab admin-only" style="position:fixed" onclick="reset();editDialog.show();setTimeout(function(){checkbox = new MDCCheckbox(document.querySelector('#gradedCheckbox'));},500)" aria-label="Favorite">
  <span class="mdc-fab__icon material-icons">
      &#xe145;
  </span>
</button>
<script src="/scripts/turndown.js"></script>
<% } %>
<div class="mdc-menu" tabindex="-1" id="hw-actions">
  <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
  <% if(admin) { %>
    <li class="mdc-list-item" role="menuitem" tabindex="0" onclick="startEdit()">
      Edit
    </li>
    <li class="mdc-list-item" role="menuitem" tabindex="0" onclick="deleteDialog.show()">
      Delete
    </li>
    <% } %>
    <li class="mdc-list-item" role="menuitem" tabindex="0" onclick="loadDetails()">
      Details
    </li>
  </ul>
</div>
<!-- non critical styles and scripts can be deferred-->
<script src="/scripts/material-components-web.min.js"></script>
<script defer src="/scripts/dates.js"></script>
<script src="/scripts/generalForms.js"></script>
<% if (admin){ %>
<script src="/scripts/adminForms.js"></script>
<% } %>
<script defer src="./scripts/eventHandlers.js"></script>
<%- include("partials/dialogs.ejs",{adminChannels}) %>
<script>
  const menuEl = document.querySelector('#hw-actions')
  const menu = new mdc.menu.MDCMenu(menuEl)
  menu.setPosition = menu.getDefaultFoundation().adapter_.setPosition
</script>
</body>
</html>
