<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body style="margin-left:0px;margin-right:0px">
  <div id="app">
    <div class="view view-main">
    <link href="/styles/roboto.css" rel="stylesheet">
    <!--<link href="/styles/new.css" rel="stylesheet">-->
    <link rel="stylesheet" href = "/styles/icons.css">
      <div class="page page-current">
      <div class="toolbar tabbar toolbar-bottom-md">
    <div class="toolbar-inner">
      <a href="/" class="tab-link tab-link-active">
        <i class="icon demo-icon-1"></i>
        <span class="tabbar-label">Homework</span>
      </a>
      <a href="/channels" class="tab-link">
        <i class="icon demo-icon-2"></i>
        <span class="tabbar-label">Channels</span>
      </a>
    </div>
    </div>
      <div class="navbar">
        <div class="navbar-inner">
        <div class="item-content title">
          <div class="item-inner item-title">
            <div>Homework Board</div>
            <div class="item-footer" id="connection-status" style="font-size:16px">Connected</div>
          </div>
        </div>
          <a class="right" href="/popups/sort/"><i class="material-icons" style="color:#ffffff">&#xE164;</i></a>
        </div>
      </div>
        <div class="page-content" style="padding-top:0px" role="main">
          <div class="list" id="hwboard-homework-list" style="position:relative;top:60px">
            <%- renderer(data,sortType,sortOrder,adminChannels) -%>
          </div>
        </div>
        <!-- Floating App button
        Clicking will cause the edit homework popup to appear
        Only show for admins
        -->
      <% if (admin){ %>
      <div class="fab fab-right-bottom admin-only color-green-blue" aria-label="Add homework">
        <a id="fab-add-homework" href="/popups/add/">
        <i class="f7-icons icon material-icons">&#xe145;</i>
        </a>
      </div>
      <!-- No markdown yet
      <script src="/scripts/turndown.js"></script>-->
      <% } %>
      </div>
      </div>
    </div>
    <link rel="stylesheet" href="/framework7/css/framework7.min.css">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/renderer.js"></script>
    <script src="/scripts/getCookie.js"></script>
    <script src="/scripts/promise-worker.js"></script>
    <script src="/scripts/fastLoadHomework.js"></script>
    <script src="/scripts/sugar-date.min.js"></script>

    <script src="/scripts/socket.io.js"></script>

    <% if(reportErrors){ %>
        <!--DoNt toUcHa my eRRor rePoTer-->
    <!--<script src="/scripts/raven.min.js" crossorigin="anonymous"></script>
    <script src="/scripts/errorReporter.js"></script>-->
    <% } %>
    <script src="/scripts/websocketConnect.js"></script>
<!-- non critical styles and scripts can be deferred-->
<script defer src="/scripts/dates.js"></script>
<script defer src="/scripts/generalForms.js"></script>
<script defer src="/variables.js"></script>

<script src="/framework7/js/framework7.min.js"></script>

<script src="/scripts/app.js"></script>
<% if (admin){ %>
<!-- non admins wont need these -->
<script src="/scripts/adminForms.js"></script>
<script src="/scripts/edit-homework-eventHandlers.js"></script>
<% } %>
<script defer src="/scripts/eventHandlers.js"></script>
<!-- defer when dialog code is moved -->
<script src="/fuse.js/dist/fuse.js"></script>
<%- include("./partials/dialogs.ejs") %>
<script src="/scripts/framework7Load.js"></script>
<script src="/scripts/loadSW.js"></script>
<script src="/scripts/wsLoadHomework.js"></script>
</body>
</html>