table {
  border-collapse: collapse;
}
td {
  border-spacing: 0px;
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.timetable-today td,.timetable-today{
  background-color:red;
  color:white;
  font-weight:900;
}
.timetable-tomorrow td,.timetable-tomorrow {
  background-color: #ab47bc;
  color:white;
  font-weight:900;
}
.timetable-now{
  background-color: #0082694a;
}

.timetable-next{
  background-color: #b8f7c5e3;
}