table {
  border-collapse: collapse;
}
td {
  border-spacing: 0px;
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.today td{
  color:red;
}
.tomorrow td{
  color: #ab47bc;
}
.now{
  background-color: #0082694a;
}

.next{
  background-color: #b8f7c5e3;
}