.md .fab.color-green-blue > a,
.md .fab.color-green-blue .fab-buttons > a,
.md .fab-buttons.color-green-blue a,
.md .fab > a.color-green-blue,
.md .fab .fab-buttons > a.color-green-blue {
  background: #018786;
}

.page .page-content.block[role="main"] {
  margin-top: 1px;
  padding: 0px;
}

.md .fab.color-green-blue > a,
.md .fab.color-green-blue .fab-buttons > a,
.md .fab-buttons.color-green-blue a,
.md .fab > a.color-green-blue,
.md .fab .fab-buttons > a.color-green-blue {
  background: #018786;
}

.page .page-content.block .list.no-hairlines {
  margin-top: initial;
}

.navbar > .navbar-inner > .right {
  padding-right: 16px;
}

#details-sheet.sheet-modal,
#details-sheet.sheet-modal .sheet-modal-inner {
  background-color: #fff;
  height: fit-content;
}

#details-sheet .sheet-modal-title {
  height: 24px;
  background: #fff;
  margin-right: 16px;
  margin-top: 12px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.8px;
}

#details-sheet .item-title {
  color: rgba(0, 0, 0, 0.87);
  white-space: initial;
}

#details-sheet .item-title .item-header {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.page-content .list#hwboard-homework-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list .popup,
.md .list .popup {
  margin: initial;
}

#app .list ul .autocomplete-dropdown-inner ul {
  padding-left: 0px;
}

.md li.item-content.item-input {
  padding-bottom: 15px;
}

#app .page-current .autocomplete-dropdown-inner .list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#app .list ul .input-toggle .item-title {
  color: rgba(0, 0, 0, 0.69);
}

.page > .page-content.block {
  margin-top: 15px;
}

.page > .page-content > .block-title {
  margin-top: 15px;
}

.popup .list-group-title.popop-title {
  height: 10px;
  background: #fff;
  margin-right: 16px;
  margin-top: 12px;
  line-height: 20px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.8px;
}

.md .block-title {
  font-size: 120%;
}

.md body {
  font-family: Roboto, Noto, Helvetica, Arial, sans-serif !important;
}

.list-group {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

.list-group > ul > li.list-group-title {
  height: 40px;
  background: #fff;
  margin-right: 16px;
  margin-top: 12px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.8px;
}

.hwitem > .item-content .item-media {
  color: rgba(0, 0, 0, 0.39);
}

.hwitem .item-content {
  padding-right: 16px;
  height: 72px;
  letter-spacing: 0.64px;
}

.hwitem > .item-content .item-inner > .item-title {
  color: rgba(0, 0, 0, 0.87);
  white-space: unset;
}

.hwitem > .item-content .item-inner > .item-title > .item-footer {
  font-size: 14px;
  line-height: 20px;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media (min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.Center-Container {
  position: relative;
  height: 100%;
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid black;
}

.mdc-bottom-sheet {
  width: 100vh;
  max-width: 500px;
  position: fixed;
  bottom: 0px;
}

.mdc-list-item__text {
  white-space: initial;
}

.mdc-select__menu {
  top: inherit !important;
  left: inherit !important;
}

@media (max-width: 400px) {
  .md #app .list .item-media + .item-inner {
    margin-left: 0px;
  }
}

.md #app .chip {
  font-size: 11px;
  height: 16px;
  line-height: 16px;
}

.md #app .navbar {
  height: 64px;
  background: #2196f3;
  color: #fff;
  font-size: 20px;
}

#app label.item-checkbox > .icon-checkbox {
  margin-right: 38px;
  margin-left: initial;
}

#app .list .item-floating-label {
  transform-origin: left bottom;
}

#app .navbar a i.icon.icon-back {
  color: white;
}

#app .list .item-footer {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.md #app label.item-radio > .icon-radio {
  margin-right: calc(var(--f7-list-item-media-margin) + var(--f7-checkbox-extra-margin));
  margin-left: initial;
}
